<form #addressForm="ngForm" (ngSubmit)="onSubmitAddress(addressForm)">
    <div class="form-container">
        <div class="form">
            <button type="button" class="goback-logo" [routerLink]="['/feed']">
                <img class="goback-img" src="../../assets/images/back-svgrepo-com.svg" alt="">
            </button>
            <div class="info">
                <div class="location-logo-container">
                    <div class="location-logo">
                        <img class="location-img" src="../../assets/images/location-sign-svgrepo-com.svg" alt="">
                    </div>
                </div>
                <div class="info-content">
                    <div class="double-content">
                        <div class="content">
                            <div class="info-content-title required-title">NOM</div>
                            <input #input1="ngModel" type="text" [(ngModel)]="inputNameValue" name="name" required autocomplete="off">
                        </div>
                        <div class="content">
                            <div class="info-content-title required-title">TYPE</div>
                            <div class="type-dropdown-wrap" #containerInputDropdownType>
                                <input #input2="ngModel" (keyup)="onInputType($event)" (blur)="onInputTypeBlur($event, containerInputDropdownType)" type="text" [(ngModel)]="inputTypeValue" name="selectedType" required autocomplete="off">
                                <ul *ngIf="filteredType.length !== 0" class="type-list">
                                    <li *ngFor="let filterType of filteredType"><button type="button"  style="color: #000;" (click)="onTypeClick(filterType)">{{filterType}}</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div *ngIf="!afterChooseGoog" class="info-content-title required-title">VILLE</div>
                        <div *ngIf="afterChooseGoog" class="info-content-title required-title">ADRESSE</div>
                        <div *ngIf="!isLoadingAddress" class="address-dropdown-wrap" #containerInputDropdown>
                            <input (keyup)="onInputAdress($event)" (blur)="onInputAdressBlur($event, containerInputDropdown)" type="text" [(ngModel)]="inputAddressValue" name="selectedAddress" required autocomplete="off"     [disabled]="!input1.valid || !input2.valid || afterChooseGoog" >
                            <ul *ngIf="filteredAddress.length !== 0" class="address-list">
                                <li *ngFor="let filterAdress of filteredAddress"><button type="button"  style="color: #000;" (click)="onAddressClick(filterAdress)">{{filterAdress}}</button></li>
                            </ul>
                        </div>
                        <div *ngIf="isLoadingAddress" class="loader"></div>
                    </div>
                    <div class="content">
                        <div class="info-content-title">PHOTO</div>
                        <div class="upload-container">
                            <label for="file" class="label-file-container">
                                <img class="upload-image" src="../../assets/images/upload-svgrepo-com.svg" alt="Upload Image">  
                            </label>
                            <div *ngIf="selectedFile" class="valid-image">
                                <span *ngIf="selectedFile">{{ this.selectedFile.name }}</span>
                                <img src="../../assets/images/check-circle-svgrepo-com.svg" class="check-image" alt="">
                            </div>
                        </div>
                        <input id="file" class="input-file" type="file" (change)="onFileSelected($event)" ngModel name="file">
                    </div>
                    <div class="content">
                        <div class="info-content-title">COMMENTAIRE</div>
                        <textarea class="commentaire" id="" cols="30" rows="10" ngModel name="comment"></textarea>
                    </div>
                </div>
                <div *ngIf="!isLoading" class="button-wrapper">
                    <button type="submit" [ngClass]="{'submit-button':true, 'submit-button-valid':addressForm.valid}" [disabled]="!addressForm.valid" >AJOUTER</button>
                </div>
                <div *ngIf="isLoading" class="loader"></div>

            </div>
        </div>
    </div>
</form>
<app-confiration-dialog *ngIf="displayConfirmation" [message]="messageDelete" [addressConfirmation]="addressConfirmation" [typeConfirmation]="typeConfirmation" ></app-confiration-dialog>
<div *ngIf="inWhichAddress">
    <div @fadeInOut class="which-address-dialog">
        <div class="dialog-container">
            <div class="content-text">
                <h1>Choisir l'adresse</h1>
            </div>
            <div class="container-which-address-list">
                <ul class="which-address-list">
                    <li *ngFor="let googAddr of googleAddressClean; let i = index"><button type="button" class="btn-which-address" (click)="onGoogAddrClick(i)">{{googAddr.fullAddress}}</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>