<form #addressForm="ngForm" (ngSubmit)="onSubmitAddress(addressForm)">
    <div class="form-container">
        <div class="form">
            <button type="button" class="goback-logo" [routerLink]="['/feed']">
                <img class="goback-img" src="../../assets/images/back-svgrepo-com.svg" alt="">
            </button>
            <div class="info">
                <div class="location-logo-container">
                    <div class="location-logo">
                        <img class="location-img" src="../../assets/images/location-sign-svgrepo-com.svg" alt="">
                    </div>
                </div>
                <div class="info-content">
                    <div class="content">
                        <div class="info-content-title">NOM</div>
                        <input type="text" ngModel name="name" required>
                    </div>
                    <div class="content">
                        <div class="info-content-title">TYPE</div>
                        <select id="dropdown" name="selectedType" ngModel required>
                            <option *ngFor="let type of types" [value]="type.name">{{ type.name }}</option>
                        </select>
                    </div>
                    <div class="content">
                        <div class="info-content-title">ADRESSE (Ville)</div>
                        <div class="address-dropdown-wrap">
                            <input (keyup)="onInputAdress($event)" list="address-dropdown" type="text" [(ngModel)]="inputAddressValue" name="selectedAddress" required autocomplete="off">
                            <ul *ngIf="filteredAddress.length !== 0" class="adress-list">
                                <li *ngFor="let filterAdress of filteredAddress"><button type="button"  (click)="onAddressClick(filterAdress)">{{filterAdress}}</button></li>
                            </ul>
                        </div>
                        <!-- <datalist id="address-dropdown">
                            <option *ngFor="let adress of adresses" [value]="adress.name">{{ adress.name }}</option>
                        </datalist> -->
                    </div>
                    <div class="content">
                        <div class="info-content-title">PHOTO</div>
                        <label for="file" class="label-file-container">
                            <img class="upload-image" src="../../assets/images/upload-svgrepo-com.svg" alt="Upload Image">
                            <span class="label-file">Choisir une image</span>
                        </label>
                        <input id="file" class="input-file" type="file" (change)="onFileSelected($event)" ngModel name="file">
                    </div>
                    <div class="content">
                        <div class="info-content-title">COMMENTAIRE</div>
                        <textarea class="commentaire" id="" cols="30" rows="10" ngModel name="comment"></textarea>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button type="submit" [ngClass]="{'submit-button':true, 'submit-button-valid':addressForm.valid}" [disabled]="!addressForm.valid" >AJOUTER</button>
                </div>
            </div>
            <img class="img-ajouter-adresse" src="../../assets/images/alice-pasqual-ticuPP5l2qg-unsplash.jpg" alt="">
        </div>
    </div>
</form>
