.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 14px;
    background-color: white;
}

.form {
    background-color: rgb(245,245,245);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.info-content-title {
    font-weight: 600;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.double-content {
    display: flex;
    flex-direction: row;
    gap: 10px;    
}

input, select {
    width: 410px;
    height: 40px;
    border-radius: 5px;
    padding: 5px ;
    font-family: inherit;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #eceaea;
    font-size: 14px;
}

.double-content input {
    width: 200px;
}

textarea {
    width: 410px;
    height: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    padding: 5px ;
    font-family: inherit;
    outline: none;
    border: 1px solid #eceaea;
    font-size: 14px;
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #3a3939  
}

.img-ajouter-adresse {
    object-fit: cover;
    width: 40%;
}
.location-logo {
    background-color: rgb(201,201,201);
    opacity: 0.8;
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}

.location-img {
    width: 40px;
}

.location-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}

.submit-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    background-color: rgb(15, 20, 25);
    color: rgb(242, 239, 239);
    border: none;
    border-radius: 10px;
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.2s background-color;

}
.submit-button-valid{
    cursor: pointer;
}
.submit-button:not(:disabled):hover{
    background-color: rgb(47, 44, 44);
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.label-file-container{
    cursor: pointer;
    display: flex;
    /* flex-direction: row; */
    /* gap: 5px; */
    background-color: white;
    padding: 15px;
    border: 1px solid #eceaea;
    justify-content: center;
    border-radius: 5px;

}
.label-file-container:hover {
    background-color: #eceaea;
}
.label-file {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.input-file {
    display: none;
}

.required-title::after {
    content: " *";
    color: red;  /* Asterisk color */
    margin-left: 5px;  /* Optional spacing */
  }

.upload-image {
    width: 40px;
    /* filter: invert(50%) sepia(67%) saturate(654%) hue-rotate(140deg) brightness(95%) contrast(102%); */
}

.goback-logo {
    background-color: rgb(201,201,201);
    opacity: 0.8;
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    left: 13px;
    top: 13px;
    cursor: pointer;
    transition: 0.2s background-color;
}
.goback-logo:hover {
    background-color: rgb(166, 166, 166);
}

.goback-img {
    width: 30px;
}

select, option {
    cursor: pointer;
}

.address-dropdown-wrap {
    position: relative;
}
.type-dropdown-wrap {
    position: relative;
}


.type-list,
.address-list {
    position: absolute;
    top: 30;
    left: 0;
    z-index: 2;
    width: 410px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin: 0;
    border-radius: 5px;
}

ul li {
    list-style: none;
    border: 1px solid rgb(216, 216, 216);
    border-top: unset;
    border:none
}

.double-content ul {
    width: 200px;
}

ul li button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.2s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s background-color;
}

.type-list li button,
.address-list li button {
    padding: 7.5px;
}

ul li button:hover {
    background-color: rgb(240, 240, 240);
}

.upload-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.check-image {
    width: 20px;
    border: none;
}
.valid-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    padding: 8px;
    margin-top: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #858888;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}


 /* check the full address */

.which-address-dialog {
    position: fixed; /* Position the element absolutely */
    top: 50%; /* Move the element 50% down from the top of the container */
    left: 50%; /* Move the element 50% from the left of the container */
    transform: translate(-50%, -50%); /* Translate the element back by 50% of its own width and height */
    background-color: white; /* Example background color */
    border-radius: 10px;
    z-index: 40;
    display: flex;
    flex-direction: column;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    z-index: 30;
  }
h1 {
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}
.dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 60px 40px;
}
.content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.which-address-list {
    padding: 0;
    margin: 5px;
}
.btn-which-address {
    font: inherit;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
}
.container-which-address-list {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
}