<form #addressForm="ngForm" (ngSubmit)="onSubmitAddress(addressForm)">
    <div class="form-container">
        <div class="form">
            <button type="button" class="goback-logo" [routerLink]="['/feed']">
                <img class="goback-img" src="../../assets/images/back-svgrepo-com.svg" alt="">
            </button>
            <div class="info">
                <div class="location-logo-container">
                    <div class="location-logo">
                        <img class="location-img" src="../../assets/images/location-sign-svgrepo-com.svg" alt="">
                    </div>
                </div>
                <div class="info-content">
                    <div class="content">
                        <div class="info-content-title">NOM</div>
                        <input type="text" ngModel name="name" required>
                    </div>
                    <div class="content">
                        <div class="info-content-title">TYPE</div>
                        <input type="text" ngModel name="type" required>
                    </div>
                    <div class="content">
                        <div class="info-content-title">ADRESSE</div>
                        <input type="text" ngModel name="address" required>
                    </div>
                    <div class="content">
                        <div class="info-content-title">PHOTO</div>
                        <label for="file" class="label-file-container">
                            <img class="upload-image" src="../../assets/images/upload-svgrepo-com.svg" alt="Upload Image">
                            <span class="label-file">Choisir une image</span>
                            <!-- <label for=""  class="label-file">Choisir une image</label> -->
                        </label>
                        <input id="file" class="input-file" type="file" (change)="onFileSelected($event)" ngModel name="file">
                    </div>
                    <div class="content">
                        <div class="info-content-title">COMMENTAIRE</div>
                        <textarea class="commentaire" id="" cols="30" rows="10" ngModel name="comment"></textarea>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button type="submit" [ngClass]="{'submit-button':true, 'submit-button-valid':addressForm.valid}" [disabled]="!addressForm.valid" >AJOUTER</button>
                </div>
            </div>
            <img class="img-ajouter-adresse" src="../../assets/images/alice-pasqual-ticuPP5l2qg-unsplash.jpg" alt="">
        </div>
    </div>
</form>
