<form #friendsForm="ngForm" (ngSubmit)="onSubmitFriends()"></form>
<div class="form-container">
    <div class="form">
        <div class="info-wrapper">
            <div class="info">
                <div class="location-logo-container">
                    <div class="location-logo">
                        <img class="location-img" src="../../assets/images/friends-icon.svg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="info-content-title">EMAIL</div>
                    <input type="text">
                </div>
                <div class="button-wrapper">
                    <button> AJOUTER</button>
                </div>
            </div>
        </div>
        <img class="img-ajouter-adresse" src="../../assets/images/alice-pasqual-ticuPP5l2qg-unsplash.jpg" alt="">
    </div>
</div>
