body {
    font-family: Roboto, Arial;
    color: white;
    margin: 0;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.form {
    background-color: rgb(245,245,245);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.info-content-title {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

input {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px ;
    font-size: 18px;
    outline: none;
    border: 2px solid #eceaea
}
input:focus {
    outline: none;
    border: 2px solid #3a3939
}

.img-ajouter-adresse {
    object-fit: cover;
    width: 40%;
}
.friend-logo {
    background-color: rgb(201,201,201);
    opacity: 0.8;
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 10px;
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}
.goback-logo {
    background-color: rgb(201,201,201);
    opacity: 0.8;
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    left: 13px;
    top: 13px;
    cursor: pointer;
    transition: 0.2s background-color;
}

.goback-logo:hover {
    background-color: rgb(166, 166, 166);
}

.friend-img {
    width: 60px;
}
.goback-img {
    width: 30px;
}

.friend-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
}

.button-wrapper {
    width: 410px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(15, 20, 25);
    color: rgb(242, 239, 239);
    border: none;
    border-radius: 10px;
    font: inherit;
    font-weight: bold;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.submit-button-valid{
    cursor: pointer;
}
.submit-button:not(:disabled):hover{
    background-color: rgb(47, 44, 44);
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.errorMessage {
    color: rgb(255, 71, 71);
    margin-top: 5px;
    margin-bottom: 0;
}