.global-grid {
    display: grid;
    grid-template-columns: 180px 500px 200px;
    justify-content: center;
    position: relative;
}

.filterbar {
    /* position: fixed; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
    height: 800px;
    /* width: 180px; */
}

.friendbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
    height: 800px;
}