<div class="global-grid">
    <div class="filterbar">
        <app-feed-left [types]="types" [adresses]="adresses"></app-feed-left>
    </div>
    <div class="middle-side">
        <app-feed-center [places]="places" [idUser]="idUser" [types]="types" [adresses]="adresses"></app-feed-center>
    </div>
    <div class="friendbar">
        <app-feed-right></app-feed-right>
    </div>
</div>
<app-confiration-dialog *ngIf="displayConfirmation" [idFriend]="idFriend" [nameFriend]="nameFriend" [message]="messageDelete" [idPlace]="idPlace" [namePlace]="namePlace"></app-confiration-dialog>
