<div class="friend-logo-container">
    <div class="friend-logo">
        <img class="img-friend" src="../../assets/images/friends-icon.svg" alt="">
    </div>
</div>
<div class="userActive">
        <div class="pp-user-active-container">
            <img class="pp-user-active" src="../../assets/images/avatar-svgrepo-com.svg" alt="">
            <div class="online"></div>
        </div>
    <div class="name-user-active">{{activeUser}}</div>
    <div class="logout" (click)="logout()">
        <img class="logout-img" src="../../assets/images/logout-svgrepo-com.svg" alt="">
    </div>
</div>
<div class="button-ami-container">
    <button class="button-ami" (click)="addFriend()"> AJOUTER AMI</button>
</div>
<div class="all-friends">
    <app-friends-list @fadeOut *ngFor="let friend of friends" [friend]="friend" [friends]="friends"></app-friends-list>
</div>
