.friend-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px
}

.friend-logo {
    background-color: rgb(230, 230, 230);
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;    
}

.img-friend {
    width: 40px
}

.all-friends {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    margin-left:20px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(245, 245, 245);
}
.all-friends-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    border-radius: 0 0 10px 10px;
    background-color: rgb(245, 245, 245);
}

.button-ami-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: white;
}
.button-ami-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
}

.button-ami {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
    background-color: rgb(15, 20, 25);
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
.button-ami:hover {
    opacity: 0.8;
}

.userActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left:20px;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);

}
.userActive-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);

}

.pp-user-active {
    border: 2px solid rgb(143, 143, 143);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 2px;
}

.name-user-active{
    font-weight: 600;
    font-size: 16px;
}

.logout {
    display: flex;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 10px;
}

.logout:hover {
    background-color: rgb(201, 201, 201);
}

.logout-img {
    width: 25px;
}

.pp-user-active-container{
    display: flex;
    justify-content: center;
    position: relative; 
}

.online {
    position: absolute;
    right: 1px;
    bottom: 1px;
    background-color: rgb(1, 212, 1);
    width: 10px;
    height: 10px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
}

.friend {
    display: flex;
    flex-direction: row;    
    gap: 10px;
    align-items: center;
    position: relative;
}

.pp {
    border: 2px solid rgb(143, 143, 143);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
}

.name {
    font-weight: 600;
    font-size: 16px;
}

.validation-img,.unvalidation-img {
    width: 22px;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    position: absolute;
    right: 5px;
}

.validation-btn,.unvalidation-btn {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    resize: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;

}

.validation-btn:hover, .unvalidation-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.delete-friend-container:hover {
    background-color: rgb(166, 166, 166);
}
.delete-friend {
    width: 19px;
    padding: 2px;
}

.group-list {
    margin-left: 20px;
    background-color: rgb(220, 220, 220);
    position: relative;
    display: flex;
    height: 35px;
    border-radius: 10px 10px 0 0;
}
.group-list-mobile {
    background-color: rgb(220, 220, 220);
    position: relative;
    display: flex;
    height: 35px;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.btn-slider {
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(50% - 2px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 8px 0 0 0;
    transition: .5s;
}

.btn-slider-slide {
    left: 50%;
    border-radius: 0 8px 0 0;

}

.log-button {
    flex: 1;
    border-width: 0;
    border-radius: 8px;
    z-index: 10;
    background-color:transparent;
    cursor: pointer;
    transition: color 0.5s;
    font-family: inherit;
    font-size: 16px;
    padding: 0;
}

.desac-btn {
    color: gray;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(243, 28, 28);
    color: white;
    font-family: inherit;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50%;
    opacity: 1;
    transition: 0.2s opacity;
}
.notification-count-on {
    opacity: 0.5;
}