<div class="friend-logo-container">
    <div class="friend-logo">
        <img class="img-friend" src="../../assets/images/friends-icon.svg" alt="">
    </div>
</div>
<div class="userActive">
        <div class="pp-user-active-container">
            <img class="pp-user-active" src="../../assets/images/avatar-svgrepo-com.svg" alt="">
            <div class="online"></div>
        </div>
    <div class="name-user-active">{{activeUser}}</div>
    <div class="logout" (click)="logout()">
        <img class="logout-img" src="../../assets/images/logout-svgrepo-com.svg" alt="">
    </div>
</div>
<div class="button-ami-container">
    <button class="button-ami" (click)="addFriend()"> AJOUTER AMI</button>
</div>
<div class="group-list">
    <div class="btn-slider" [ngClass]="{'btn-slider-slide': !isFriendList}"></div>
    <button type="button" class="log-button" [ngClass]="{'desac-btn' : !isFriendList}" (click)="isFriendList = true">Amis</button>
    <button type="button" class="log-button" [ngClass]="{'desac-btn' : isFriendList}" (click)="isFriendList = false">Demandes</button>
    <div class="notification-count" [ngClass]="{'notification-count-on' : !isFriendList}">1</div>
</div>

<div *ngIf="isFriendList" class="all-friends">
    <app-friends-list @fadeOut *ngFor="let friend of friends" [friend]="friend" [friends]="friends"></app-friends-list>
</div>
<div *ngIf="!isFriendList" class="all-friends">
    <div @fadeOut *ngFor="let sentFriendRequest of sentFriendRequests">
        <div class="friend">
            <img class="pp" src="../../assets/images/avatar-svgrepo-com.svg" alt="">
            <div class="name">{{sentFriendRequest['name']}}</div>
            <div class="delete-friend-container">
                <img class="delete-friend" src="../../assets/images/waiting-svgrepo-com.svg" alt="" >
            </div>
        </div>
    </div>
</div>

