.post {
    border-bottom: 1px solid rgb(236, 236, 236);
    display: grid;
    gap: 7px;
    grid-template-rows: 50px 160px 1fr;
    grid-template-columns: minmax(80px, 1fr) 2fr;
    grid-template-areas: 
    'header header'
    'photo main'
    'footer footer'
    ;
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-edit {
    border-bottom: 1px solid rgb(236, 236, 236);
    display: grid;
    gap: 7px;
    grid-template-rows: 50px 160px 1fr 40px;
    grid-template-columns: minmax(80px, 1fr) 2fr;
    grid-template-areas: 
    'header header'
    'photo main'
    'footer footer'
    'valid valid'
    ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feed-auteur {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--feed-color);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
    grid-area: header;
}
.feed-info-photo {
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.feed-commentaire {
    background-color: var(--feed-color);;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    font-size: 14px;
    grid-area: footer;

}

.photo-container {
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    overflow: hidden;
    position: relative;
    grid-area: photo;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo-edit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.upload-image {
    width: 25px;
}

.upload-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9c9c9;
    margin: 0;
    padding: 13px;
    border-radius: 50%;
    border: 1px solid;
    resize: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;

}
.upload-btn:hover {
    cursor: pointer;
    background-color: rgb(166, 166, 166);
}

.info {
    background-color: var(--feed-color);
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding-left: 20px;
    padding-right: 20px;
    grid-area: main;
    display: grid;
    gap: 7px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: minmax(60px, 1.5fr) 3fr;
    grid-template-areas: 
    'nom nom-value'
    'type type-value'
    'adresse adresse-value'
    ;
    align-items: center;

}

.feed-pp {
    border: 2px solid rgb(143, 143, 143);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
}

.feed-nom {
    grid-area: nom;
}
.feed-type {
    grid-area: type;
}
.feed-adresse {
    grid-area: adresse;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name-wrapper {
    grid-area: nom-value;
    justify-self: end;
    font-weight: 600;
}
.type-wrapper {
    grid-area: type-value;
    justify-self: end;
    font-weight: 600;
}
.adresse-wrapper {
    grid-area: adresse-value;
    justify-self: end;
    font-weight: 600;
}

.delete-address-container {
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 10px;
}
.delete-address-container:hover {
    background-color: rgb(166, 166, 166);
}
.delete-address {
    width: 20px;
}
.edit-address-container {
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 45px;
}
.edit-address-container:hover {
    background-color: rgb(166, 166, 166);
}
.edit-address {
    width: 18px;
}

.textarea-style {
    width: 100%;
    height: 100%;
    /* border: none; */
    resize: none;
    box-sizing: border-box;
}

.validation-img,.unvalidation-img {
    width: 35px;
}

.img-container {
    grid-area: valid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.validation-btn,.unvalidation-btn {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    resize: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;
}

.validation-btn-valid:hover, .unvalidation-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.input-name  {
    border-radius: 5px;
    border: none;
    padding: 5px ;
    font-family: inherit;
    font-size: inherit;
    width: calc(100%);
}

.input-name-wrapped {
    grid-area: nom-value;
    margin-right: 10px;
    margin-left: 5px;
}

.type-dropdown-wrap {
    grid-area: type-value;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
    background-color: transparent;
}
.address-dropdown-wrap {
    grid-area: adresse-value;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
    background-color: transparent;
}
.input-type, .input-adress{
    border-radius: 5px;
    border: none;
    padding: 5px ;
    font-family: inherit;
    font-size: inherit;
    /* remove the margin of the overall div */
    width: calc(100%);
}

textarea {
    border-radius: 5px;
    border: none;
    resize: none;
    padding: 5px ;
    font-family: inherit;
    font-size: 14px;
}

ul {
    position: absolute;
    top: 30;
    left: 5;
    z-index: 10000;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    /* add the width of the border */
    width: calc(100% + 1px) ;
}

ul li {
    list-style: none;
    border: none;
}

ul li button{
    border: none;
    outline: none;
    background: transparent;
    padding: 7.5px;
    cursor: pointer;
    width: calc(100%);
    text-align: left;
    transition: 0.2s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: inherit;
    font-size: inherit;
    transition: 0.2s background-color;
}

ul li button:hover {
    background-color: rgb(79, 79, 79);
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid black;
}

.custom-link {
    text-decoration: none; /* Remove underline */
    color: black; /* Set custom color */
    white-space: nowrap;             /* Prevent text from wrapping to the next line */
    overflow: hidden;                /* Hide any overflowed content */
    text-overflow: ellipsis;         /* Show ellipsis (...) when text overflows */
    grid-area: adresse-value;
    font-weight: 600;
    }
  
.custom-link:hover {
    text-decoration: underline;
}

@media (max-width: 945px) {
    /* .photo-container {
        display: none;
    } */
    .info {
        margin-left: 10px;
    }

    /* .edit-address-container {
        right: auto;
        left: 10px;
    } */
}

@media (max-width: 500px) {
    .edit-address-container {
        right: auto;
        left: 10px;
    }
}