.post {
    border-bottom: 1px solid rgb(236, 236, 236);
    display: grid;
    gap: 7px;
    grid-template-rows: 50px 160px 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feed-auteur {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--feed-color);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
}
.feed-info-photo {
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.feed-commentaire {
    background-color: var(--feed-color);;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    font-size: 14px;

}

.photo-container {
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 30%;
    overflow: hidden;
    position: relative;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo-edit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.upload-image {
    width: 25px;
}

.upload-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9c9c9;
    margin: 0;
    padding: 13px;
    border-radius: 50%;
    border: 1px solid;
    resize: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;

}
.upload-btn:hover {
    cursor: pointer;
    background-color: rgb(166, 166, 166);
}

.info {
    background-color: var(--feed-color);;
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 20px;

}

.feed-pp {
    border: 2px solid rgb(143, 143, 143);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
}

.feed-nom,
.feed-type,
.feed-adresse {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name-wrapper,
.type-wrapper,
.adresse-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.delete-address-container {
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 10px;
    /* left: 90%; */
}
.delete-address-container:hover {
    background-color: rgb(166, 166, 166);
}
.delete-address {
    width: 20px;
}
.edit-address-container {
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 45px;
    /* left: 90%; */
}
.edit-address-container:hover {
    background-color: rgb(166, 166, 166);
}
.edit-address {
    width: 18px;
}

.textarea-style {
    width: 100%;
    height: 100%;
    /* border: none; */
    resize: none;
    box-sizing: border-box;
}

.validation-img,.unvalidation-img {
    width: 35px;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.validation-btn,.unvalidation-btn {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    resize: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;

}

.validation-btn:hover, .unvalidation-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

input {
    border-radius: 5px;
    border: none;
    padding: 5px ;
    font-family: inherit;
    font-size: inherit;
    margin-left: 5px;
    flex: 1;
    margin-right: 10px;
}

textarea {
    border-radius: 5px;
    border: none;
    resize: none;
    padding: 5px ;
    font-family: inherit;
    font-size: 14px;
}