<form #authForm="ngForm" (ngSubmit)="onSubmitForm(authForm)">
    <div class="login-box-container">
        <div class="login-box">
            <h1>{{isConnexion ? "Bon Retour" : "Bienvenue"}}</h1>
            <p>
                Veuillez entrez vos identifiants 
            </p>
            <div class="group-login">
                <div class="btn-slider" [ngClass]="{'btn-slider-slide': !isConnexion}"></div>
                <button type="button" class="log-button" [ngClass]="{'desac-btn' : !isConnexion}" (click)="connexion(authForm)">Se connecter</button>
                <button type="button" class="log-button" [ngClass]="{'desac-btn' : isConnexion}" (click)="inscription(authForm)">S'inscrire</button>
            </div>
            <div *ngIf="!isConnexion" [ngClass]="{'group-name':true, 'group-name-focus': isInputNameFocused}" ngModelGroup="groupName">
                <img class="name-icon" src="../../assets/images/user-icon-svgrepo-com.svg" alt="">
                <input class="name-text" type="text" ngModel name="name" required placeholder="Lucile" (focus)="onFocus('name')" (blur)="onBlur('name')">
            </div>
            <div [ngClass]="{'group-email':true, 'group-email-focus': isInputEmailFocused, 'error-connect': isError}" ngModelGroup="groupEmail">
                <img class="email-icon" src="../../assets/images/email-svgrepo-com.svg" alt="">
                <input class="email-text" type="text" ngModel name="email" required email placeholder="Lucile1234@gmail.com" (focus)="onFocus('email')" (blur)="onBlur('email')">
            </div>
            <div [ngClass]="{'group-password':true, 'group-password-focus': isInputPasswordFocused, 'error-connect': isError}" ngModelGroup="groupPassword">
                <img class="password-icon" src="../../assets/images/password-svgrepo-com.svg" alt="">
                <input class="password-text" [type]="showPassword ? 'text' : 'password'" ngModel name="password"
                required placeholder="Mot de passe" (focus)="onFocus('password')" (blur)="onBlur('password')">
                <img class="view-password-icon" [src]="showPassword ? '../../assets/images/eye-open-svgrepo-com.svg' : '../../assets/images/eye-slash-svgrepo-com.svg'" alt="" (click)="togglePasswordVisibility()">
            </div>
            <div *ngIf="isError" style="
                color: red;
                font-size: 12px;
            ">{{errorMess}}</div>
            <button *ngIf="!isLoading" [ngClass]="{'submit-button':true, 'submit-button-valid':authForm.valid}" type="submit" [disabled]="!authForm.valid" >
                {{isConnexion ? "Se connecter" : "S'inscrire"}}
            </button>
            <span *ngIf="isLoading" class="loader"></span>
        </div>
    </div>
</form>
