:root {
    --width-group: 356px;
    --width-list-friend: 180px;
    --feed-color : rgb(245, 245, 245);
}

body {
    margin: 0;
    font-family: 'Roboto', Arial;
}

@media (max-width: 945px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 500px) {

  :root {
    --width-group: 260px;
  }
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }